<template>
  <b-container class="d-flex justify-content-center align-items-center vh-100">
    <b-row class="w-100 justify-content-center">
      <b-col cols="12" md="6" lg="4">
        <b-card title="Login">
          <b-form @submit="submitMethod">
            <b-form-group label="Email" label-for="email-input">
              <b-form-input
                  id="email-input"
                  type="email"
                  v-model="emailModel"
                  required
              ></b-form-input>
            </b-form-group>

            <b-form-group label="Password" label-for="password-input">
              <b-form-input
                  id="password-input"
                  type="password"
                  v-model="passwordModel"
                  required
              ></b-form-input>
            </b-form-group>

            <b-button type="submit" variant="success" class="w-100" >Login</b-button>
            <router-link to="/register" >
              <b-button type="submit" variant="primary" class="w-100 mt-2">Register</b-button>
            </router-link>
            <b-form-text class="text-danger">
              {{ errorText }}
            </b-form-text>
          </b-form>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<script setup lang="ts">
import {ref} from 'vue';
import {useAuth} from '@/composables/useAuth';
import {useUserStore} from "@/stores/user";
import router from "@/router";

const errorText = ref<string>('');
const {emailModel, passwordModel, loginUser} = useAuth();
const userStore = useUserStore();
const submitMethod = async () => {
  try {
    errorText.value = '';

    const response = await loginUser();

    userStore.setToken(response.user.token);
    delete response.user.token;
    userStore.setUserInfo(response.user);
    router.push({name: "posts"});

  } catch (e) {
    if (e?.response?.data) {
      errorText.value = e.response.data.message;
    }
    console.log(e)
  }
};
</script>

<style scoped>
.vh-100 {
  height: 100vh;
}
</style>
