<template>
  <div class="d-flex justify-content-center align-items-center vh-100 bg-light">
    <form
        @submit.prevent="createPost"
        v-if="createPostData"
        class="w-50 bg-white p-5 rounded shadow-sm">
      <h1 class="mb-4">Post Form</h1>
      <div class="mb-3">
        <label for="title" class="form-label">Заголовок</label>
        <input type="text" class="form-control" id="title" v-model="createPostData.title" placeholder="Введите заголовок">
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Описание</label>
        <textarea class="form-control" id="description" v-model="createPostData.body" rows="5"
                  placeholder="Введите описание"></textarea>
      </div>
      <button type="submit" class="btn btn-primary w-100">Отправить</button>
    </form>
  </div>
</template>

<script setup lang="ts">
import {usePosts} from "@/composables/usePosts";
import {useRouter} from "vue-router";
const {createPostData, storePost} = usePosts();
const router = useRouter()
const createPost = async () => {
    storePost().then((status)=>{
        if (status === 201) {
          router.push({name:"posts"});
        }
    })
};


</script>