<template>
  <div v-if="loading" class="d-flex justify-content-center align-items-center vh-100">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div v-else class="d-flex justify-content-center align-items-center vh-100 bg-light">
    <form
        @submit.prevent="postUpdate"
        class="w-50 bg-white p-5 rounded shadow-sm">
      <h1 class="mb-4">Post Form</h1>
      <div class="mb-3">
        <label for="title" class="form-label">Заголовок</label>
        <input
            v-model="updatePostData.title"
            type="text" class="form-control" id="title" placeholder="Введите заголовок">
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Описание</label>
        <textarea
            v-model="updatePostData.body"
            class="form-control" id="description" rows="5"
            placeholder="Введите описание"></textarea>
      </div>
      <button type="submit" class="btn btn-primary w-100">Отправить</button>
    </form>
  </div>

</template>

<script setup lang="ts">
import {usePosts} from "@/composables/usePosts";
import {useRoute, useRouter} from "vue-router";
import {onMounted, ref} from "vue";

const {updatePost, getPost, updatePostData} = usePosts();
const router = useRouter()
const loading = ref(false);
const postId = Number.parseInt(useRoute().params.id);

const postUpdate = async () => {
  loading.value = true;
  updatePost(postId).then((status) => {
    if (status === 200) {
      router.push({name: "posts"});
    }
  }).finally(() => {
    loading.value = false;
  })
};

onMounted(() => {
  loading.value = true;
  getPost(postId).then((response) => {
    updatePostData.value.body = response.body;
    updatePostData.value.title = response.title;

    loading.value = false;
  })
});


</script>