<template>
  <div>
    <div v-if="loading" class="d-flex justify-content-center align-items-center vh-100">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <div v-else>
      <div v-if="posts.length">
        <b-table
            striped
            hover
            :items="posts"
            :fields="fields"
        >
          <template #cell(actions)="data">
            <div>
              <router-link :to="{ name: 'update_post', params: { id: data.item.id } }">
                <b-button @click="()=>{}" variant="primary" class="me-2"
                          v-if="data.item.user_id === userStore.userInfo?.id">
                  <font-awesome-icon icon="edit"/>
                </b-button>
              </router-link>
              <b-button @click="deletePosts(data.item.id)" variant="danger" class="me-2"
                        v-if="data.item.user_id === userStore.userInfo?.id">
                <font-awesome-icon icon="trash"/>
              </b-button>
              <router-link :to="{ name: 'post', params: { id: data.item.id } }">
                <b-button @click="()=>{}" variant="warning">
                  <font-awesome-icon icon="eye"/>
                </b-button>
              </router-link>
            </div>

          </template>
        </b-table>
        <div class="d-flex justify-content-center mt-3">
          <b-pagination
              v-model="pagination.page"
              :total-rows="pagination.total"
              :per-page="pagination.by"
              aria-controls="my-table"
              @change="fetchPosts"
          ></b-pagination>
        </div>
      </div>
      <div v-else>
        Нет постов для отображения.
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import {ref, watch, onMounted} from 'vue';
import {usePosts} from '@/composables/usePosts';

import {useUserStore} from "@/stores/user";
// Используем хук для получения данных о постах
const {pagination, posts, getPosts, deletePost} = usePosts();
const userStore = useUserStore();

// Определяем поля таблицы
const fields = ref([
  {key: 'id', label: 'ID'},
  {key: 'author_name', label: 'автор'},
  {key: 'body', label: 'описание'},
  {key: 'created_at', label: 'дата'},
  {key: 'actions', label: 'действия'},
]);

const loading = ref(false);

const fetchPosts = async () => {
  loading.value = true;
  await getPosts(pagination.value.page);
  loading.value = false;
};

const deletePosts = async (id: number) => {
  loading.value = true

  await deletePost(id)
  await fetchPosts()

  loading.value = false
};

onMounted(fetchPosts);
watch(() => pagination.value.page, fetchPosts);
</script>

<style scoped>
/* Добавьте ваши стили, если необходимо */
</style>
