<template>
  <div
      v-if="!isLoading"
      class="d-flex justify-content-center align-items-center vh-100 bg-light">
    <div class="text-center bg-white p-5 rounded shadow-sm">
      <h1 class="display-4">{{ post.title }}</h1>
      <p class="lead mt-4">{{ post.body }}</p>
      <p class="lead mt-4">Author - {{ post.author_name }}</p>
    </div>
  </div>
  <div v-else class="d-flex justify-content-center align-items-center vh-100">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</template>

<script setup lang="ts">
import {ref, onMounted} from 'vue';
import {usePosts} from "@/composables/usePosts";
import { useRoute } from 'vue-router';
const {getPost, post} = usePosts();

const isLoading = ref(true);

// Если данные поста загружаются асинхронно, используйте onMounted для их загрузки
onMounted(() => {
  getPost(Number.parseInt(useRoute().params.id)).then(() => {
    isLoading.value = false;
  })
});
</script>

<style scoped>
/* Стили не требуются */
</style>
