<template>
  <b-container class="d-flex justify-content-center align-items-center vh-100">
    <b-row class="w-100 justify-content-center">
      <b-col cols="12" md="6" lg="4">
        <b-card title="Register">
          <b-form @submit="submitMethod">
            <b-form-group label="Email" label-for="email-input">
              <b-form-input
                  id="email-input"
                  type="email"
                  v-model="registerData.email"
                  required
              ></b-form-input>
            </b-form-group>

            <b-form-group label="Password" label-for="password-input">
              <b-form-input
                  id="password-input"
                  type="password"
                  v-model="registerData.password"
                  required
              ></b-form-input>
            </b-form-group>
            <b-form-group label="Password confirmation" label-for="password-input">
              <b-form-input
                  id="password_confirmation-input"
                  type="password"
                  v-model="registerData.password_confirmation"
                  required
              ></b-form-input>
            </b-form-group>
            <b-form-group label="name" label-for="password-input">
              <b-form-input
                  id="name-input"
                  type="text"
                  v-model="registerData.name"
                  required
              ></b-form-input>
            </b-form-group>
            <b-form-group label="birthday" label-for="password-input">
              <b-form-input
                  id="birthday-input"
                  type="date"
                  v-model="registerData.birthday"
                  required
              ></b-form-input>
            </b-form-group>

            <b-button type="submit" variant="primary" class="w-100">Register</b-button>
            <b-form-text
                v-if="Object.keys(errors).length"
                class="text-danger"
            >
              <ul>
                <li v-for="(fieldErrors, fieldName) in errors" :key="fieldName">
                  <div class="text-danger mt-1" v-for="(error, index) in fieldErrors" :key="index">
                    {{ error }}
                  </div>
                </li>
              </ul>
            </b-form-text>
          </b-form>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
</template>

<script setup lang="ts">
import router from "@/router";
import {ref} from "vue";
import {useAuth} from "@/composables/useAuth";

const {register, registerData} = useAuth();
const errors = ref([]);
import {useUserStore} from "@/stores/user";

const submitMethod = async () => {
  try {
    const userStore = useUserStore();
    const response = await register();
    console.log("q2response.user");
    console.log(response.user);

    userStore.setToken(response.user.token_data.token);
    delete response.user.token;
    userStore.setUserInfo(response.user);
    router.push({name: "posts"});
  } catch (e) {
    if (e?.response?.data.errors) {
      errors.value = e.response.data.errors;
    }

  }
};
</script>


<style scoped>

</style>