<template>
  <nav>
    <router-link
        @click="userStore.logout()"
        to="/login">Logout/Login</router-link> |
    <router-link to="/posts" class="me-2">Show Posts</router-link>
    <router-link
        v-if="userStore && userStore.token"
        to="/post/store">Create post</router-link>
  </nav>
  <router-view/>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
}
</style>
<script setup lang="ts">
import {useUserStore} from "@/stores/user";

const userStore = useUserStore();

</script>